* {
  font-family: "Arial";
}

.play-button {
  text-decoration: none;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #333;
  color: white;
  border-bottom: 4px solid black;
}

.play-button:hover {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
}

.dropdown:hover {
  background-color: #ddd;
  color: black;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 2;
}

.drop-button {
  background-color: #333;
  color: white;
  padding: 26px;
  font-size: 20px;
  border: none;
}

.dropdown-items a {
  min-width: 256px;
  padding: 7px 0px 7px 0px !important;
  font-size: 16px !important;
  text-decoration: none;
  display: block;
}

.dropdown-items a:hover {
  color: black;
}

.dropdown:hover .dropdown-items {
  display: block;
}

.nav-bar {
  margin: auto;
  position: relative;
  text-align: center;
  width: 1024px;
  height: 75px;
  background-color: #333;
  z-index: 1;
}

.level-selector {
  width: 1024px;
  margin: auto;
  text-align: center;
}

.level-selector h3 {
  color: white;
  margin: 0;
}

.easy {
  background-color: #5bd479;
  color: white;
}

.medium {
  background-color: #e69e39;
  color: white;
}

.hard {
  background-color: #eb452f;
  color: white;
}

.expert {
  background-color: #9f2bd9;
  color: white;
}

.nav-bar a {
  line-height: 75px;
  vertical-align: middle;
  float: left;
  color: #f2f2f2;
  height: inherit;
  padding-left: 26px;
  padding-right: 26px;
  text-decoration: none;
  font-size: 20px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.nav-left {
  float: right;
  background-color: #04aa6d;
  color: white;
}

.nav-bar h1 {
  pointer-events: none;
  left: 0;
  position: absolute;
  width: 100%;
  display: inline-block;
  color: white;
  vertical-align: middle;
  line-height: normal;
}

.game-div,
.content {
  padding-top: 50px;
  width: 1024px;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 10px lightgrey;
  margin: auto;
  text-align: center;
}

.content img {
  height: 200px;
}

.content p {
  font-size: 18px;
  margin: auto;
  text-indent: 2ch;
  text-align: justify;
  width: 50%;
}

.game-body {
  overflow: hidden;
  position: relative;
  margin: 0;
  background-image: url("images/bg_small.PNG");
}

.game-over-state-text {
  animation: pop-in ease 0.5s;
  margin: auto;
  text-align: center;
}

@keyframes pop-in {
  0% {
    font-size: 12px;
  } 100% {
    font-size: inherit;
  }
}

.word {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: normal;
  text-decoration: underline;
}

.letter:last-child {
  margin: 0 !important;
}

.letter {
  margin-right: 25px;
  text-decoration: underline;
  font-family: monospace;
}

.leader-columns {
  box-shadow: 0px 0px 10px lightgrey;
  width: 1024px;
  margin: auto;
}

.leader-columns:after {
  content: "";
  display: table;
  clear: both;
}

.column:last-child {
  border: none !important;
}

.column {
  border-right: 2px solid black;
  background-color: white;
  text-align: center;
  float: left;
  width: calc(25% - 8px/5);
  height: 100vh;
}

.column ul {
  padding-left: 0;
  width: 100%;
  list-style-type: none;
}

.column h2 {
  margin: 0;
  padding: 15px;
}